# ====== Local Environment Variables ======
DATALIB=""
DROPBOX=""

# ====== Fallback Folder Paths ======
COURSE_FOLDER_PATH=""
PROJECT_FOLDER_PATH=""

# ====== Active Database ======
DATABASE_NAME="notion"

# ====== Notion Database Section ======
NOTION_DATABASE_ID=""
NOTION_API_KEY=""

# ====== Templates Section ======
JINJA_TEMPLATES_PATH=""

# ====== Payloads Section ======
# Sample payloads will be available at $HOME/.incept/payload
