# ====== Local Environment Variables ======
DATALIB=""
DROPBOX=""

# ====== Fallback Folder Paths ======
COURSE_FOLDER_PATH=""
PROJECT_FOLDER_PATH=""

# ====== Active Database ======
DATABASE_NAME="notion"

# ====== Notion Database Section ======
NOTION_COURSE_DATABASE_ID=""
NOTION_API_KEY=""

# ====== Templates Section ======
JINJA_TEMPLATES_PATH=""

# ====== Video Section ======
VIDEO_IN_COURSE_FOLDER="0"
VIDEO_COURSE_FOLDER_PATH=""
VIDEO_EXTENSION="mp4"

# ====== Payloads Section ======
