DATALIB=""
DROPBOX=""
COURSE_FOLDER_PATH=""
COURSE_SEARCH_FOLDER="{course_name}"
CHAPTER_SEARCH_FOLDER="{##_chapter_name}"
LESSON_SEARCH_FOLDER="{##_lesson_name}"
DATABASE_NAME="notion"
DATABASE_ID=""
API_KEY=""
