{#
  This template defines a lesson as a file.
  - The file will be named: "<lesson_prefix>_<lesson_name>.<ext>"
  - The variable `ext` should be provided (for example, "hip", "py", or "txt").
#}
{
  "file": "{{ lesson_prefix }}_{{ lesson_name }}.{{ ext }}"
}
